.upsert-curriculum-page {
  .page-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .upsert-form {
    margin-top: 40px;
  }
  .projects-card {
    margin-top: 20px;
  }
}
